<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [mode]="'over'">
                <!--удали [opened], [mode]='over' - удали все остальное ссылающиеся на isHandset$ для получения простого функционала-->
    <mat-toolbar  class="mat-toolbar"
                  color="danger">
      <div class="menuTopBlock">
        <div class="menuTopBlock__name">
          Alex Freeman
        </div>
        <div class="menuTopBlock__balance">
          balance $58
        </div>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <mat-toolbar color="primary">
      <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <!--добавить *ngIf="isHandset$ | async"-->
        <mat-icon aria-label="Side nav toggle icon">BTN!</mat-icon>
      </button>
      <span style="margin-left: 10px; margin-right: 10px">Наименование </span>
      <!--тут можно добавить ссылки -->
      <span class="spacer">
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </span>
    </mat-toolbar>
    <ng-content>
      <!--обязательно, что бы появилась кнопка "click me!" / другой контент-->
    </ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
